.contact {
    background: rgb(82, 85, 85);
    height: 525px;
}

.text-center {
    text-align: center;
    padding: 30px;
}

.form-group {
    width: 60%;
    margin: 14px 290px;
    padding: 5px 3px;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
}

.button {
    margin: 12px 600px;
    padding: 5px 3px;
    font-size: 16px;
    color: black;
    border: 2px solid rgb(131, 126, 126);
    border-radius: 4px;
}

.visit {
    margin: 12px 560px;
    padding: 25px 3px;
    font-style: oblique;
}

.form-group1 {
    width: 60%;
    margin: 14px 290px;
    padding: 5px 3px;
    font-size: 19px;
    border: 2px solid grey;
}

.button {
    
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}
.button:hover{
    background-color: aqua;
}
.home{
    cursor: pointer;
    transition: o.3s ease;
}
.home:hover{
    background-color: rgb(139, 7, 7);
}