*{
    margin: 0%;
    pad: 0;
}
.main{
    width: 100%;
    background-image: url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.form{
    width: 300px;
    height: 470px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 60px;
    left: 600px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 285px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}
.form input{
    width: 300px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: arial;
}
.btnn{
    width: 300px;
    height: 37px;
    background-color: #ff7200;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.2s ease;
}
.btnn:hover{
    background: #fff;
    color: #000;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icon a{
    text-decoration: none;
    color: #fff;
}
.icon ion-icon{
    color: #ffffff;
    font-size: 30px;
    padding-left: 6px;
    padding-top: 9px;
    transition: 0.3 ease;
}
.icon ion-icon:hover{
    color: #ff7200;

}
.com{
    background-color: #000;
    font-size: 20px;
}