*{
    margin:0;
    padding:0;
}
.navbar{
    width: 100%;
    background-color: rgb(106, 102, 102);
    background-size: cover;
    height: 75px;
    /* margin: auto; */
}
.icon{
    width: 200px;
    float: left;
    height: 70px;

}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
    transition: 0.3s ease;

}
.menu:hover{
    color: #000;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #bebab2;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    width: 200px;
    height: 40;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: rgb(188, 180, 180);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
::placeholder{
    color: rgb(214, 209, 209);
}
.btn{
    width: 30%;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: rgb(254, 254, 254);
    cursor: pointer;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.3s;
}
.btn:hover{
    background-color: rgb(68, 66, 66);
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}

.photos{
    width: 73%;
    background-position: center;
    background-size: cover;
    height: 109vh;
    margin-left: 27%;
    margin-top: 60px;
    
}
.photos1{
    width: 73%;
    background-position: center;
    background-size: cover;
    height: 109vh;
    margin-left: 27%;
    margin-top: 8px;
    
}
.photos2{
    width: 60%;
    background-position: center;
    background-size: cover;
    height: 109vh;
    margin-left: 22%;
    margin-top: 8px;
    
}