*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1700px;
    margin: 0;
    padding-left: 1px;
    padding-right: 1px;
    background-image: url(background2\ -\ Copy.jpg);
    background-repeat: no-repeat;
    background-size: 100% 900px;
}
::placeholder
{
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
    margin-top: 90px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display:inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 15px;
    margin: 30px 0;
    border-radius: 30px;
   transition: 0.5s;
} 
.btn:hover{
    background: #563434;
}
.col-3{
    display: inline-block;
    margin-left: 70px;
}
.categories{
    box-sizing: border-box;
    background-color: rgb(103, 83, 83);
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 50px;
    color: #555;
}
.title::after{
    content: '';
    background: #563434;
    width: 90px;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.small-container{
    box-sizing: border-box;
    
    
}



.vid{
    margin-left: 28%;
}